* {
  box-sizing: border-box;
}

.banner {
  max-width: auto;
  height: 20rem;
  background-image: url(http://lorempixel.com/400/200);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 50rem;
}

.links {
  display: flex;
}
.link__item {
  margin: 0 auto;
  width: 5rem;
}

.navbar__logo {

}

.hero {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: red;

}

.about {
  color: blue;
}

.search {
  color: red;

}

.title {

}

.subtitle {

}
