* {
  box-sizing: border-box;
}

.banner {
  max-width: auto;
  height: 20rem;
  background-image: url(http://lorempixel.com/400/200);
}

.navbar {
  display: flex;
  flex-direction: row;
}

.links {
  display: flex;
  justify-content: flex-end;


}
.navbar__logo {
  margin-left: 7%;

}

.hero {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: red;

}

.about {
  color: blue;
}

.search {
  color: red;

}

.title {

}

.subtitle {

}
